<body>

<app-top-bar></app-top-bar>

<mat-drawer-container>

  <mat-drawer class="sidebar-content" mode="side" opened>
    <mat-grid-list [cols]="1" rowHeight="66.1">
      <mat-grid-tile [colspan]="1" [rowspan]="7">

        <app-zone-creation-menu style="width : 95%;height: 95%"></app-zone-creation-menu>

      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="6">
        <mat-card class="dashboard-card">
          Custom Search
            <app-zone-search style="width: 100%; height: 95%"></app-zone-search>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>



  </mat-drawer>

  <mat-drawer-content class="mainbar-content">
    <div #staticMapContainer id="map_zone_creation"></div>
  </mat-drawer-content>

</mat-drawer-container>

</body>
